header {
    width: 100%;
    height: 100px;
    background-color: #151515;

    display: flex;  
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

header h1 {
    color: #ffffff;
    font-size: 24px;
}       

header li {
    list-style: none;
    display: inline;
    padding-right: 2rem;
}

header nav a {
    color: #ffffff;
    text-decoration: none;
    margin-left: 15px;
    font-size: 18px;
}   